{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>about-us</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    {% include 'headers.html' %}
    <main>

        <!-- ============abt-01 Section  Start============ -->

        <section class="abt-01">
            <!-- <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading-wrapper">
                            <h3>About Us</h3>
                            <ol>
                                <li>Hmoe<i class="far fa-angle-double-right"></i></li>
                                <li>About Us</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div> -->
        </section>

        <!-- ============abt-02 Section  Start============ -->

        <section class="abt-02">
            <div class="container">
                <div class="row">
                    <div class="abt-main d-flex">
                        <div class="abt-spirit">
                            <div class="image-box">
                                <img src="{% static 'assets/images/adi.jpg' %}">
                            </div>
                        </div>
                        <div class="abt-spirit">
                            <div class="abt-content-card">
                                <h2>About Us</h2>
                                <p>Welcome to Train Yourself, where we are dedicated to empowering individuals with the skills and knowledge needed to thrive in the tech industry. Our institute offers a wide range of programming and technology courses designed to equip you with the practical expertise required for success. With experienced instructors, hands-on learning, and a supportive community, we are committed to helping you achieve your career goals and unlock your full potential. Join us on your journey to professional excellence and innovation.</p>
                                
                    
                                <!-- <span>
                                    <a href="#">Follow Us</a>
                                </span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    

        <!-- ============bg-se-04  Section  Start============ -->

        {% include 'analytics.html' %}

        <!-- ============bg-se-06  Section  Start============ -->

        <!-- {% include 'our_team.html' %} -->
        <!-- ============bg-se-01  Section  Start============ -->
        
        {% include 'why_choose_us.html' %}
    </main>

    <!-- ============Footer  Start============ -->

    {% include 'footer.html' %}
</body>

<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/plugins/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

</html>