<section class="bg-se-04">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="_lk_bg_cd">
                    <i class="fal fa-history"></i>
                    <div class="counting" data-count="2">100</div>
                    <h5>YEAR OF HISTORY</h5>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="_lk_bg_cd">
                    <i class="fal fa-graduation-cap"></i>
                    <div class="counting" data-count="37">100</div>
                    <h5>ACTIVE STUDENTS</h5>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="_lk_bg_cd">
                    <i class="fal fa-globe"></i>
                    <div class="counting" data-count="13">100</div>
                    <h5>ONLINE COURSES</h5>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="_lk_bg_cd">
                    <i class="fal fa-registered"></i>
                    <div class="counting" data-count="62">100</div>
                    <h5>REGISTERED STUDENTS</h5>
                </div>
            </div>
        </div>
    </div>
</section>
