{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>School</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>


<body>
    {% include 'headers.html' %}
    <main>
        <!-- ============abt-01 Section  Start============ -->
        
        <section class="abt-01">
            <!-- <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading-wrapper">
                            <h3>Blog</h3>
                            <ol>
                                <li>Hmoe<i class="far fa-angle-double-right"></i></li>
                                <li>Blog</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div> -->
        </section>

        <!-- ============bg-se-05  Section  Start============ -->
        
        <section class="bg-se-05">
            <div class="container">
                <div class="row">
                    <div class="heading">
                        <h2>Latest News</h2>
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <article class="_lk_bg_sd_we">
                            <div class="_bv_xs_we">
                                <img src="{% static 'assets/images/blog/img-01.jpg' %}">
                            </div>
                            <div class="_xs_we_er">
                                <div class="_he_w">
                                    <h3>Easy English Learning Way</h3>
                                    <ol>
                                        <li><span>by</span> admin<span class="_mn_cd_xs">August 20, 2020</span></li>
                                    </ol>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
        
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <article class="_lk_bg_sd_we">
                            <div class="_bv_xs_we">
                                <img src="assets/images/blog/img-02.jpg">
                            </div>
                            <div class="_xs_we_er">
                                <div class="_he_w">
                                    <h3>Easy English Learning Way</h3>
                                    <ol>
                                        <li><span>by</span> admin<span class="_mn_cd_xs">August 20, 2020</span></li>
                                    </ol>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
        
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <article class="_lk_bg_sd_we">
                            <div class="_bv_xs_we">
                                <img src="assets/images/blog/img-03.jpg">
                            </div>
                            <div class="_xs_we_er">
                                <div class="_he_w">
                                    <h3>Easy English Learning Way</h3>
                                    <ol>
                                        <li><span>by</span> admin<span class="_mn_cd_xs">August 20, 2020</span></li>
                                    </ol>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <article class="_lk_bg_sd_we">
                            <div class="_bv_xs_we">
                                <img src="assets/images/blog/img-04.jpg">
                            </div>
                            <div class="_xs_we_er">
                                <div class="_he_w">
                                    <h3>Easy English Learning Way</h3>
                                    <ol>
                                        <li><span>by</span> admin<span class="_mn_cd_xs">August 20, 2020</span></li>
                                    </ol>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <article class="_lk_bg_sd_we">
                            <div class="_bv_xs_we">
                                <img src="assets/images/blog/img-05.jpg">
                            </div>
                            <div class="_xs_we_er">
                                <div class="_he_w">
                                    <h3>Easy English Learning Way</h3>
                                    <ol>
                                        <li><span>by</span> admin<span class="_mn_cd_xs">August 20, 2020</span></li>
                                    </ol>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <article class="_lk_bg_sd_we">
                            <div class="_bv_xs_we">
                                <img src="assets/images/blog/img-06.jpg">
                            </div>
                            <div class="_xs_we_er">
                                <div class="_he_w">
                                    <h3>Easy English Learning Way</h3>
                                    <ol>
                                        <li><span>by</span> admin<span class="_mn_cd_xs">August 20, 2020</span></li>
                                    </ol>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore.
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

   
    </main>

    <!-- ============Footer  Start============ -->
    {% include 'footer.html' %}
</body>

<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/plugins/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

</html>