<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6">
                <div class="_kl_de_w">
                    <h3>Train Yourself</h3>
                    <p>At Train Yourself, we empower individuals with the skills and knowledge needed to excel in the tech industry. Our diverse range of programming courses, expert instructors, and personalized support ensure you achieve your career goals. Join us and transform your future with hands-on learning and real-world applications.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6">
                <div class="_kl_de_w">
                    <h3>Quick Links</h3>
                    <ol>
                        <li><a><i class="far fa-angle-right"></i>home</a></li>
                        <li><a><i class="far fa-angle-right"></i>About Us</a></li>
                        <li><a><i class="far fa-angle-right"></i>Courses</a></li>
                        <!-- <li><a><i class="far fa-angle-right"></i>Blog</a></li> -->
                        <li class="last"><a><i class="far fa-angle-right"></i>Contact Us</a></li>
                    </ol>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6">
                <div class="_kl_de_w">
                    <h3>Featured Courses</h3>
                    <ol>
                        <li><i class="far fa-angle-right"></i>C Programming</li>
                        <li><i class="far fa-angle-right"></i>Advanced Python Programming</li>
                        <li><i class="far fa-angle-right"></i>Front-End Development</li>
                        <li><i class="far fa-angle-right"></i>Java for Web Applications</li>
                        <li><i class="far fa-angle-right"></i>C++ Programming</li>
                        <li><i class="far fa-angle-right"></i>Advanced PHP Programming</li>
                        <li class="last"><i class="far fa-angle-right"></i>Database Design and Optimization</li>

                    </ol>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-6">
                <div class="_kl_de_w">
                    <h3>Contact Us</h3>
                    <form class="my-form">
                        <div class="form-group">
                            <input class="form-control" type="emal" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea rows="3" placeholder="Message" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <a href="#">Submit</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="end-footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="last-card">
                    <p>© 2020 All Rights Reserved by<a href="https://www.smarteyeapps.com">Train Yourself</a></p>
                </div>
            </div>
        </div>
    </div>
</div>