{% load static %}
<header>
    <div class="my-nav">
        <div class="container">
            <div class="row">
                <div class="nav-items">
                    <div class="menu-toggle">
                        <div class="menu-hamburger"></div>
                    </div>
                    <div class="logo">
                        <img src="{% static 'assets/images/logo-03.png' %}" style="width: 600px;">
                    </div>
                    <div class="menu-items">
                        <div class="menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="about-us">About Us</a></li>
                                <li><a href="courses">Courses</a></li>
                                <!-- <li><a href="blogs">Blog</a></li> -->
                                <li><a href="contact-us">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>