{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>School</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>


<body>
    {% include 'headers.html' %}
    <main>
        <!-- ============abt-01 Section  Start============ -->
        
        <section class="abt-01">
            <!-- <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="heading-wrapper">
                            <h3>Services</h3>
                            <ol>
                                <li>Hmoe<i class="far fa-angle-double-right"></i></li>
                                <li>Services</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div> -->
        </section>

        <!-- ============bg-se-02  Section  Start============ -->

        <section class="bg-se-02">
            <div class="container">
                <div class="row">
                    <div class="heading">
                        <h2>POPULAR CATEGORY</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="main-wrapper">
                            <div class="content text-center">
                                <div class="icon">
                                    <i class="fal fa-code"></i>
                                </div>
                                <div class="sentence">
                                    <h3>DEVELOPMENT</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias
                                        excepturi fugit, similique laborum
                                        necessitatibus?</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="main-wrapper">
                            <div class="content text-center">
                                <div class="icon">
                                    <i class="fal fa-business-time"></i>
                                </div>
                                <div class="sentence">
                                    <h3>BUSINESS</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias
                                        excepturi fugit, similique
                                        laborum
                                        necessitatibus?</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="main-wrapper">
                            <div class="content text-center">
                                <div class="icon">
                                    <i class="fal fa-calculator-alt"></i>
                                </div>
                                <div class="sentence">
                                    <h3>ACCOUNTING</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias
                                        excepturi fugit, similique
                                        laborum
                                        necessitatibus?</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="main-wrapper">
                            <div class="content text-center">
                                <div class="icon">
                                    <i class="fal fa-database"></i>
                                </div>
                                <div class="sentence">
                                    <h3>SOFTWARE</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias
                                        excepturi fugit, similique
                                        laborum
                                        necessitatibus?</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="main-wrapper">
                            <div class="content text-center">
                                <div class="icon">
                                    <i class="fal fa-palette"></i>
                                </div>
                                <div class="sentence">
                                    <h3>ARTS & DESIGN</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias
                                        excepturi fugit, similique
                                        laborum
                                        necessitatibus?</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="main-wrapper">
                            <div class="content text-center">
                                <div class="icon">
                                    <i class="fal fa-shopping-cart"></i>
                                </div>
                                <div class="sentence">
                                    <h3>MARKETING</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias
                                        excepturi fugit, similique
                                        laborum
                                        necessitatibus?</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="main-wrapper">
                            <div class="content text-center">
                                <div class="icon">
                                    <i class="fal fa-camera"></i>
                                </div>
                                <div class="sentence">
                                    <h3>PHOTOGRAPHY</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias
                                        excepturi fugit, similique
                                        laborum
                                        necessitatibus?</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="main-wrapper">
                            <div class="content text-center">
                                <div class="icon">
                                    <i class="fal fa-dumbbell"></i>
                                </div>
                                <div class="sentence">
                                    <h3>HEALTH FITNESS</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias
                                        excepturi fugit, similique
                                        laborum
                                        necessitatibus?</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="main-wrapper">
                            <div class="content text-center">
                                <div class="icon">
                                    <i class="fal fa-life-ring"></i>
                                </div>
                                <div class="sentence">
                                    <h3>LIFESTYLE</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestias
                                        excepturi fugit, similique
                                        laborum
                                        necessitatibus?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

       

        
    </main>

    <!-- ============Footer  Start============ -->
    {% include 'footer.html' %}
</body>

<script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/owl.carousel.js' %}"></script>
<script src="{% static 'assets/js/plugins/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

</html>